@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A simple web application built using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet">ASP.NET</a>, which has a embedded functionality(Create,Read,Update,Delete) of managing frequently asked questions.</p>
</div>
